<head>
    <link rel="stylesheet" href="/sidebar.css" type="text/css">
</head>

<div class="sidebar">
    <h2>Menu</h2>
    <ul>
      <a href="/perfil"><li><strong>Perfil</strong> </li></a>
      <a href="/times"><li><strong>Times</strong></li></a>
    </ul>

</div>