<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <title>Criar Time</title>
</head>
<body>
    <%- include('partials/sidebar') %>
    <div class="container">
      <h1>Criar Time</h1>
      <form action="" method="POST">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required>
        <label for="description">Descrição:</label>
        <input type="text" id="description" name="description">
        <label for="members">Número de membros:</label>
        <input type="number" id="members" name="members" required>
        <label for="selectedSport">Esporte:</label>
        <select id="comboEsportes" name="selectedSport">
          <% if(sports) {%>
            <% for (let i = 0; i < sports.length; i++) { %>
              <option value=<%= sports[i].dataValues.id%>> <%= sports[i].dataValues.name%> </option>
            <% } %>
          <% } %>
        </select>
        <input type="submit" value="Criar Time">
      </form>
      <a href="times"><button>Voltar aos times</button></a>
    </div>
  </body>
</html>