<head>
    <link rel="stylesheet" href="/message-container.css" type="text/css">
</head>

<div class="message-container">
    <span class="close-button" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= message %>
</div>