<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/index.css" type="text/css">
        <!-- <link rel="stylesheet" href="/styles.css" type="text/css"> -->
        <title>Página Inicial</title>
    </head>
<body>
  <%- include('partials/sidebar') %>
  <div class="content">
    <h1>Torneios disponíveis </h1>
    <h2> Em Desenvolvimento </h2>
  </div>
</body>
</html>