<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/index.css" type="text/css">
        <title>Página Inicial</title>
    </head>
<body>
  <%- include('partials/sidebar') %>
  <div class="content">
    <h1>Bem-vindo à Página de Index</h1>
    <!-- <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante orci, posuere elementum urna a, volutpat tincidunt purus. Sed iaculis lectus ac vestibulum lacinia. Aliquam fermentum ultrices velit vitae maximus. Donec pulvinar tincidunt nisi, sit amet placerat nunc tincidunt non. Mauris eget massa in libero tincidunt cursus nec nec lacus. Suspendisse et malesuada odio, a vulputate ligula. Maecenas tristique diam eget semper rhoncus. Quisque id nunc feugiat, laoreet diam vel, ullamcorper lacus. Donec non lorem odio.

      Quisque id sollicitudin purus, a bibendum dui. Phasellus tincidunt leo eu nisi ultrices mattis non vitae sem. Nunc rhoncus sodales eros iaculis hendrerit. In vitae rhoncus metus. Vestibulum faucibus lectus consectetur ultricies efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus finibus aliquet tellus et faucibus.
      
      Donec consectetur accumsan porttitor. Ut elementum mauris eget laoreet consequat. Integer venenatis erat vitae tortor condimentum, a blandit odio tempus. Aenean tortor metus, sollicitudin in tellus sed, dignissim sodales sem. Nunc et efficitur massa, non dapibus dui. Morbi malesuada elementum neque nec vestibulum. Donec varius quam a fringilla pulvinar. Sed sit amet tortor convallis, efficitur mauris in, luctus ex. Vestibulum augue nibh, laoreet at vulputate tincidunt, finibus eget libero. Aenean sit amet neque vehicula, aliquam mauris a, condimentum dolor. Pellentesque consectetur varius nulla a interdum. Nulla volutpat sagittis ipsum, in dignissim magna dapibus in. Etiam laoreet sem a turpis egestas vehicula. Nunc eu nisi mi. Sed blandit lobortis risus ut laoreet. Cras lorem ipsum, tempor et nunc sed, aliquet efficitur nibh.
      
      Ut ac sapien orci. Nulla blandit vitae risus sit amet tristique. Nullam facilisis nunc a magna malesuada iaculis. Nulla vulputate libero a odio scelerisque, et auctor mauris vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc et erat ante. Aliquam faucibus tempor ligula, non auctor leo convallis ut. Aliquam ut massa non risus tincidunt consectetur ac sit amet mauris. Quisque in dolor pretium, auctor leo id, suscipit quam.
      
      Phasellus ornare turpis vitae felis gravida, vitae pellentesque tellus viverra. Nam suscipit dignissim sem, in consequat est congue vitae. Nunc varius, mauris eget egestas mattis, leo diam pretium metus, et ultrices urna mauris ut nisl. Cras neque elit, accumsan in nulla id, rutrum scelerisque dui. Nullam vitae sapien arcu. Donec vitae nisi scelerisque, consequat quam quis, feugiat tortor. Nunc mattis, nulla sed volutpat rutrum, erat ligula cursus dui, in pulvinar dui ex non ante. In hac habitasse platea dictumst. Phasellus porta odio consectetur risus dictum, tempor elementum purus iaculis. Phasellus posuere tristique porttitor. Nullam vel sodales arcu.
    </p> -->

    <h2> Times </h2>
    <ul>
      <li>Taboão</li>
      <li>Vila madalena</li>
      <li>Joga e Joga</li>
    </ul>
  </div>
</body>
</html>