<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <title>Lista de Times</title>
</head>
<body>
    <%- include('partials/sidebar') %>
    <h1>Times</h1>
    <button href="/create-team.ejs"><strong>Criar time</strong></button>
    <ul>
        <% for (let i = 0; i < teams.length; i++) { %>
            <li><%= teams[i].Nome %> - <%= teams[i].Descricao %></li>
        <% } %>
    </ul>
</body>
</html>